:root{
    --red: #D63230;
    --orange: #F39237;
    --white: #F8F7FF;
    --blue: #B8B8FF;
    --roxo: #9381FF;
    --black: #000000;

    --trans: all ease-in-out 0.3s;

    --shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--white) linear-gradient(45deg, var(--red) , var(--orange)) no-repeat fixed;
    background-size: cover;
}

.header {
    top: 0;
    position: sticky;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:hover .imgLogo {
    height: 30px;
    width: 30px;
}

.imgLogo{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    transition: var(--trans);
}

.links, .linkLogo{
    text-decoration: none;
    background-image: linear-gradient(to bottom, var(--red), var(--orange), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: var(--trans);
    cursor: pointer;
    text-shadow: var(--shadow);
}

.links:hover, .logo:hover .linkLogo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-text-fill-color: var(--white);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin: 32px;
}

/* hamburguer */

.hambuger {
    display: none;
    cursor: pointer;
}

.hambuger div {
    width: 32px;
    height: 2px;
    background-color: var(--white);
    margin: 8px;
    transition: var(--trans);
}

.main {
    margin-top: 20px;
}

.linha {
    display: flex;
    height: 88%;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.coluna {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.titulo-principal {
    color: var(--white);
    text-shadow: var(--shadow);
    font-size: 100px;
    text-align: center;
}

.titulo {
    color: var(--white);
    text-shadow: var(--shadow);
    font-size: 50px;
    text-align: center;
}

.texto {
    color: var(--white);
    font-size: 20px;
    line-height: 15px;
    margin: 20px 10px;
    text-indent: 20px;
}

.botao {
    text-align: center;
    width: 180px;
    color: var(--white);
    font-size: 15px;
    padding: 12px;
    background-color: var(--black);
    border-radius: 20px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    margin: auto;
    box-shadow: var(--shadow);
}

.botao:hover{
    transform: scale(1.02);
}

.card {
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: var(--shadow);
}

.cardLinks {
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
    font-weight: bolder;
}

.card1 {
    background: url(../img/GitLabFox.png) var(--white) no-repeat center center;
}

.card2 {
    background: url(../img/gitHub.png) var(--white) no-repeat center center;
}

.card:hover {
    transform: translateY(-10px);
}

.footer {
    background: rgba(90, 90, 90, 0.45);
    padding: 20px;
    margin-top: 20px;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto img {
    border-radius: 50%;
    border: 10px solid var(--white);
    box-shadow: var(--shadow);
}

.foto a {
    font-size: 20px;
    text-shadow: var(--shadow);
    font-weight: bolder;
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--red), var(--orange), var(--white));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: var(--trans);
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        background-color: var(--black);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        border-radius: 0px 0px 0px 5px;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .hambuger {
        display: block;
    }
}

/* animation */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
